<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch"/>

  <arg name="manager" default="object_localization_nodelet_manager" />

  <group ns="$(arg uav_name)">

    <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen" launch-prefix="$(arg launch_prefix)">
      <param name="num_worker_threads" value="16" />
    </node>

    <arg name="fcu_frame_slashless" default="fcu_$(arg uav_name)" />

    <!-- Ouster TFs -->
    <arg name="ouster_frame_slashless" default="velodybe" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg fcu_frame_slashless)_to_$(arg ouster_frame_slashless)" args="0 0 0.2 0 0 0 $(arg uav_name)/fcu velodyne" />

  </group>

  <!-- driver Oustr -->
  <include file="$(find ouster_driver)/launch/os1.launch" >
  </include>

  <!-- UAV detection Oustr -->
  <include file="$(find uav_detect)/launch/detect_pcl.launch" >
    <arg name="standalone"  value="false" />
    <arg name="respawn"     value="true" />
    <arg name="manager"     value="$(arg manager)" />
  </include>

  <!-- target filtration -->
</launch>
